header {
    max-width: 864px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    padding: 10px;
}
.logo {
    position: relative;
    bottom: 15px;
}
.dots-container {
    max-width: 42px;
    max-height: 42px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    text-align:center;
}
.nav {
    list-style-type: none;
    display: flex;
    align-items: center; 
    justify-items: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    header {
        max-width: 320px;
    }
    .head-container {
        max-width: 320px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
    header {
        max-width: 617px;
    }
    .dots-container {
        display: none;
    }
    .closebtn {
        display: none;
    }
}
@media screen and (min-width: 1440px) {
    .dots-container {
        display: none;
    }
    .closebtn {
        display: none;
    }
}