header {
    max-width: 864px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    padding: 10px;
}
.nav {
    list-style-type: none;
    display: flex;
    align-items: center; 
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    header {
        max-width: 320px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
    header {
        max-width: 617px;
    }
}